@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
@supports (font-variation-settings: normal) {
	html, * { font-family: 'Fira Code', Arial; }
  }
  html{
	background-color: #242222;
  }
html,body, p table{
	padding: 0;
	margin: 0;
	font-size: large;
	font-family: Arial;
}
table *{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
select, input, button,textarea, div[contenteditable] {
	width: 100% !important;
	vertical-align: middle;
	font-size: large;
	font-weight: 500;
	resize: none;
	font-family: Fira Code, Arial, Helvetica, sans-serif;
}
.form p div{
	display: inline;
}
table{
	width: calc(100% - 10px);
}
.select-project, .instalition-main{
	width: 40vw;
	min-height: 50vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: aliceblue;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.work-panel, .prev-panel, .tree-panel{
	position: absolute;
	margin: 0;
	padding: 0 10px;
	overflow: auto;
}
.tree-panel{
	top:0;
	width: calc(15vw - 15px);
	height: 100vh;
	left: 0;
	background-color: palevioletred;
}
.work-panel{
	width: calc(40vw - 10px);
	height: 100vh;
	top:0;
	left: 15vw;
	background-color: #242222;
	color :#FFFFFF;
	transition: all .3s;
}


.prev-panel{
	top:0;
	width: calc(45vw - 20px);
	height: 100vh;
	left: 55vw;
	top: 0;
	background-color: gainsboro
}

.ProjectList{
	padding: 0 40px;
}
.ProjectList a{
	text-decoration: none;
	transition: all .5s;
	color: green;
}
.ProjectList a:visited{
	color: blue;
}
.ProjectList a:hover{
	color: tomato;
}

.ProjectList li{
	list-style-type: decimal;
}
.ProjectList li:last-child{
	list-style-type: none;
}
.ProjectList .type{
color: grey;
text-decoration: none;
}
.ProjectList .name{
font-weight: bold;
}
.ProjectList .v{
	font-size: x-small;
	color: grey;
	text-decoration: none;
}
.ProjectList .v::before{
	content: "V ";
}