@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
@supports (font-variation-settings: normal) {
	html,
	* {
		font-family: "Fira Code", Arial;
	}
}
html {
	background-color: #242222;
}
html,
body,
p,
h2,
h1 table {
	padding: 0 !important;
	margin: 0 !important;
	font-size: large;
	font-family: Arial;
}
input,select,textarea,button {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.install-menu{
	cursor: pointer;
}
.install-menu.selected {
	outline: groove red;
}
select,
input,
button,
textarea,
div[contenteditable] {
	width: 100% !important;
	vertical-align: middle;
	font-size: large;
	font-weight: 500;
	resize: none;
	font-family: Fira Code, Arial, Helvetica, sans-serif;
}
.form p div {
	display: inline;
}
table {
	width: calc(100% - 10px);
}
.h1 {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
.fit_text{
	width: fit-content;
	width: min-content;
}
.menu_item{
	position: relative;
	border-radius: 0 10px 0 10px;
	float: left;
	padding: 10px;
	margin-left: 8px;
	height: 20px;
	text-align: center;
}
.menu_item::before{
	color: #242222;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: relative;
	left: 50%;
	top:20px;
	transform: translate(-50%,-50%);
	content: "\f0d7";
}
.menu_item:hover{
	box-shadow: 2px 2px 2px 0px rgba(193, 248, 255, 0.75);
}
.menu_item .selected{
	box-shadow: 2px 2px 2px 0px rgba(193, 248, 255, 0.75);
}
.menu_item:hover::before{
	color: rgba(193, 248, 255, 0.75);
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: relative;
	left: 50%;
	top:22px;
	transform: translate(-50%,-50%);
	content: "\f0d7";
}

.menu_item .selected::before{
	color: rgba(193, 248, 255, 0.75);
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: relative;
	left: 50%;
	top:22px;
	transform: translate(-50%,-50%);
	content: "\f0d7";
}
/*	👦🏿👦🏿👦🏿👦🏿👦🏿
		👧🏻		*/

.toolbox{
	position: relative;
	top: 50px;
	width: 90%;
}
.instalition-main p{
	/* border: 1px red; */
}
.instalition-main .left{
	float: left;
}
.instalition-main .right{
	float: right;
}
.no_calc {
	width: 100%;
}
.instalition-main{
	transform: translate(-50%, -50%);
	left: 15%;
	width: 10vw;
	height: 80vh;
	min-height: 400px;
	max-height: 500px;
	min-width: 200px;
	max-width: 250px;
}
.instalition-main, .adv-menu, .delete-menu{

	position: absolute;
	top: 50%;
	background-color: aliceblue;
	border-radius: 10px;
	padding: 4px;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}
.delete-menu{
	left: 50%;
	width: 400px;
	min-height: 200px;
	height: fit-content;
	transform: translate(-50%, -50%);
	text-align: center;
}
.delete-menu input{
	min-width: 100px;
	max-width: 400px;
	width: fit-content !important;
}
.delete-menu .Eenter{
	min-height: 45px;
}
.delete-menu .DELETE{
	color: #F00;
	right: 5%;
}
.delete-menu .DELETE:disabled{
	color: rgba(255, 0, 0, 0.5);
}
.delete-menu .cancel{
	left: 5%;
}
.delete-menu button{
	bottom: 10px;
	width: 90px;
	position: absolute;
	max-width: 90px;
}
.adv-menu{
	width: 60vw;
	height: fit-content;
	min-height: 200px;
	max-height: 700px;
	/* min-width: 200px;
	max-width: 250px; */
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(0%, -50%);
}
.select-project {
	width: 40vw;
	min-height: 50vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: aliceblue;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}
.work-panel,
.prev-panel,
.tree-panel {
	position: absolute;
	margin: 0;
	padding: 0 10px;
	overflow: auto;
}
.tree-panel {
	top: 0;
	width: calc(15vw - 15px);
	height: 100vh;
	left: 0;
	background-color: palevioletred;
}
.work-panel {
	width: calc(40vw - 10px);
	height: 100vh;
	top: 0;
	left: 15vw;
	background-color: #242222;
	color: #ffffff;
	transition: all 0.3s;
}

.prev-panel {
	top: 0;
	width: calc(45vw - 20px);
	height: 100vh;
	left: 55vw;
	top: 0;
	background-color: gainsboro;
}

.ProjectList {
	padding: 0 40px;
}
.ProjectList a {
	text-decoration: none;
	transition: all 0.5s;
	color: green;
}
.ProjectList a:visited {
	color: blue;
}
.ProjectList a:hover {
	color: tomato;
}

.ProjectList li {
	list-style-type: decimal;
}
.ProjectList li:last-child {
	list-style-type: none;
}
.ProjectList .type {
	color: grey;
	text-decoration: none;
}
.ProjectList .name {
	font-weight: bold;
}
.ProjectList .v {
	font-size: x-small;
	color: grey;
	text-decoration: none;
}
.ProjectList .v::before {
	content: "V ";
}
